#title {
  font-family: Copperplate Gothic Light;
  color: #000000;
  text-align: center;
  font-size: 200%;
}
#title::first-letter {
  color: #000000;
  font-size: 250%;
}
p {
  font-family: Verdana, sans-serif;
  color: #333333;
  font-size: 125%;
  font-weight:500;
}
.gamelist {
  font-family: Arial, sans-serif;
  color: #4b0082;
  font-size: 125%;
  font-weight: bold;
}
ul::first-line {
  font-family: Arial, sans-serif;
  color: #ff0000;
  font-size: 125%;
  font-weight: bold;
}
a:hover {
  color: #ff0000;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
  border: 15px solid #ff9494;
}
#rectangle{
    width:100%;
    height: 25px;
    background:rgb(0, 0, 0);
}